/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.submit-button, .add-course-button {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: #1C77C3;
	-fx-background-radius: 1em;
	-fx-pref-width: 100px;
	-fx-max-height: 50px;
	
}

#app-title {
	-fx-font: 50px Helvetica;
	-fx-font-weight: bold;
	-fx-fill: #271f30;
	
}
.submit-button:hover {
	-fx-background-color: #f95738;
}
.add-course-button:hover {
	-fx-background-color: #E3DE8F;
}

.tab-pane {
	-fx-background-color: white;
}

.tab-header-background {
	-fx-background-color: #B9D6F2;
}

.tab-label {
	-fx-font-weight: bold;
}
.parse-text-tab:selected {
	-fx-background-color: #1C77C3;
}
.parse-text-tab:selected .tab-label{
	-fx-text-fill: white;
}
.parse-text-tab2:selected {
	-fx-background-color: #E3DE8F;
}
.parse-text-tab2:selected .tab-label{
}

.text-area .content {
}

.title-grid {
	-fx-background-color: white;
}
.text-area .content {
}